.appointment {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.appointment .div {
  background-color: #ffffff;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.appointment .overlap {
  position: absolute;
  width: 1920px;
  height: 182px;
  top: 0;
  left: 0;
  background-color: #2badc9;
}

.appointment .group {
  position: relative;
  width: 642px;
  height: 81px;
  top: 50px;
  left: 82px;
}

.appointment .text-wrapper {
  top: 0;
  left: 0;
  font-weight: 200;
  font-style: italic;
  color: #ffffff;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.appointment .text-wrapper-2 {
  position: absolute;
  top: 4px;
  left: 249px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.appointment .image {
  position: absolute;
  width: 770px;
  height: 889px;
  top: 191px;
  left: 1146px;
  object-fit: cover;
}

.appointment .overlap-group {
  position: absolute;
  width: 809px;
  height: 233px;
  top: 326px;
  left: 155px;
  background-image: url(./img/rectangle-10.png);
  background-size: 100% 100%;
}

.appointment .text-wrapper-3 {
  top: 74px;
  left: 131px;
  font-weight: 400;
  color: #000000;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.appointment .div-wrapper {
  position: absolute;
  width: 809px;
  height: 233px;
  top: 695px;
  left: 155px;
  background-image: url(./img/rectangle-10.png);
  background-size: 100% 100%;
}

.appointment .text-wrapper-4 {
  position: absolute;
  top: 71px;
  left: 118px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}
