<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css" integrity="sha512-MqL4+Io386IOPMKKyplKII0pVW5e+kb+PI/I3N87G3fHIfrgNNsRpzIXEi+0MQC0sR9xZNqZqCYVcC61fL5+Vg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="navigation">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/use-now.png') }}" alt="Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/service">Services</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
            <a href="/signup" class="navigation-button">Get Started</a>
        </div>
    </header>
    



    <main class="homepage">
        <section>
            <div class="about-us">
                <div class="text-content">
                    <h1>ABOUT <span>US</span></h1>
                    <br/>
                    <h3>We take care of your healthy life and keep it safe</h3>
                    <p>We are dedicated to transforming mental health care through 
                        innovative and user-friendly software solutions. </p>
                        
                    <p>Our mission is to provide therapists with powerful tools to enhance their 
                        practice, streamline their workflow, and deliver exceptional care 
                        to their clients.
                    </p>
                    
                    <p>We envision a world where technology bridges the gap between 
                        therapists and those seeking mental health support.
                    </p>
                </div>
                <img src="{{ url_for('static', filename='images/about-img.jpeg.jpg') }}" class="doctor" alt="Doctor"/>
            </div>
        </section>
        <h1 style="text-align:center">MEET THE TEAM</h1>
        <div class="demo">
    
            <div class="demo__div people">
                <div class="people__div people__div--img">
                    <img src="{{ url_for('static', filename='images/anne.jpg') }}" alt="" class="people__img">
                </div>
                <div class="people__div people__div--info">
                    <h2 class="people__name">Anne Marie Twagirayeza</h2>
                    <p class="people__desc">
                        Anne Marie was responsible for developing and maintaining the server-side logic of our applications. She ensured high performance and scalability, managing databases and creating secure APIs that allowed seamless communication between the frontend and backend systems.
                    </p>
                </div>
                <div class="people__div people__div--name">
                    <h2 class="people-name">Backend Developer</h2>
                </div>
            </div>          
    
            <div class="demo__div people">
                <div class="people__div people__div--img">
                    <img src="{{ url_for('static', filename='images/tama.jpg') }}" alt="" class="people__img">
                </div>
                <div class="people__div people__div--info">
                    <h2 class="people__name">Tamanda Kaunda</h2>
                    <p class="people__desc">
                        Tamanda was responsible for designing and implementing the user interface of our web applications. She worked closely with UI/UX designers to translate design mockups into interactive, responsive, and visually appealing web pages, enhancing the overall user experience.</p>
                </div>
                <div class="people__div people__div--name">
                    <h2 class="people-name">Fronted Developer</h2>
                </div>
            </div>       
            <div class="demo__div people">
                <div class="people__div people__div--img">
                    <img src="{{ url_for('static', filename='images/jolie.jpg') }}" alt="" class="people__img">
                </div>
                <div class="people__div people__div--info">
                    <h2 class="people__name">Jolie Umulisa</h2>
                    <p class="people__desc">
                        Jolie was responsible for designing intuitive and engaging user interfaces. She conducted user research, developed wireframes and prototypes, and collaborated with developers to ensure that the final product was both aesthetically pleasing and user-friendly.
                    </p>
                </div>
                <div class="people__div people__div--name">
                    <h2 class="people-name">UI/UX Designer</h2>
                </div>
            </div>          
    
            <div class="demo__div people">
                <div class="people__div people__div--img">
                    <img src="{{ url_for('static', filename='images/oluchi.jpg') }}" alt="" class="people__img">
                </div>
                <div class="people__div people__div--info">
                    <h2 class="people__name">Oluchi Nduka Aku</h2>
                    <p class="people__desc">
                        Oluchi was responsible for creating and executing marketing strategies to promote our brand and products. She analyzed market trends, identified target audiences, and implemented campaigns across various channels to increase brand awareness and drive customer engagement.
                    </p>
                </div>
                <div class="people__div people__div--name">
                    <h2 class="people-name">Marketing Consultant</h2>
                </div>
            </div>         
    
            
            <div class="demo__div people">
                <div class="people__div people__div--img">
                    <img src="{{ url_for('static', filename='images/teta.jpg') }}" alt="" class="people__img">
                </div>
                <div class="people__div people__div--info">
                    <h2 class="people__name">Teta Bianca</h2>
                    <p class="people__desc">
                        Teta was responsible for creating visual content that aligned with our brand identity. She designed logos, advertisements, and other marketing materials, using her creativity to produce compelling visuals that communicated our message effectively to our audience.
                </div>
                <div class="people__div people__div--name">
                    <h2 class="people-name">Graphic Designer</h2>
                </div>
            </div>           
           
    
            
        </div>
          
    </main>



    <footer class="footer">
        <section>
            <div class="Quick">
                <h2>Quick Links</h2>
                <p><a href="index.html"><i class="fa-icon fa fa-home"></i>Home</a></p>
                <p><a href="service.html"><i class="fa-icon fa fa-concierge-bell"></i>Service</a></p>
                <p><a href="about.html"><i class="fa-icon fa fa-info-circle"></i>About</a></p>
                <p><a href="therapists.html"><i class="fa-icon fa fa-user-md"></i>Therapist</a></p>
                <p><a href="blogs.html"><i class="fa-icon fa fa-blog"></i>Blog</a></p>
            </div>
            <div class="Services">
                <h2>Our Services</h2>
                <p><a href="#"><i class="fa-icon fa fa-heartbeat"></i> Wellness Programs</a></p>
                <p><a href="#"><i class="fa-icon fa fa-spa"></i> Mindful Meditation</a></p>
                <p><a href="#"><i class="fa-icon fa fa-user-md"></i> Consultation</a></p>
                <p><a href="#"><i class="fa-icon fa fa-book-open"></i> Educational Resources</a></p>
                <p><a href="#"><i class="fa-icon fa fa-users"></i> Support Groups</a></p>
            </div>
            <div class="Contact">
                <h2>Contacts Info</h2>
                <p><a href="#"><i class="fa-icon fa fa-phone"></i>+250 788 666 23</a></p>
                <p><a href="#"><i class="fa-icon fa fa-envelope"></i>mindcare@gmail.com</a></p>
                <p><a href="#"><i class="fa-icon fa fa-map-marker-alt"></i>Kigali, Rwanda</a></p>
            </div>
            <div class="Follow">
                <h2>Follow Us</h2>
                <a href="#" class="fab fa-facebook"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-pinterest"></a>
            </div>
        </section>
        <p class="copy-symbol">
            &copy; Heart Heal. 2024 All rights reserved.
        </p>
    </footer>
</body>
</html>