<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HeartHeal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css" integrity="sha512-MqL4+Io386IOPMKKyplKII0pVW5e+kb+PI/I3N87G3fHIfrgNNsRpzIXEi+0MQC0sR9xZNqZqCYVcC61fL5+Vg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="navigation">
            <div class="logo">
                <img src="use-now.png" alt="Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/service">Services</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
            <a href="#" class="navigation-button">Get Started</a>
        </div>
    </header>
    
    <main>
        <div class="container">
            <div class="row">
                    <h1>contact us</h1>
            </div>
            <div class="row">
                    <h4 style="text-align:center">We'd love to hear from you!</h4>
            </div>
            <div class="row input-container">
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <input type="text" required />
                            <label>Name</label> 
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input">
                            <input type="text" required />
                            <label>Email</label> 
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="styled-input" style="float:right;">
                            <input type="text" required />
                            <label>Phone Number</label> 
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="styled-input wide">
                            <textarea required></textarea>
                            <label>Message</label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="btn-lrg submit-btn">Send Message</div>
                    </div>
            </div>
        </div>
        
    </main>
    <footer class="footer">
        <section>
            <div class="Quick">
                <h2>Quick Links</h2>
                <p><a href="index.html"><i class="fa-icon fa fa-home"></i>Home</a></p>
                <p><a href="service.html"><i class="fa-icon fa fa-concierge-bell"></i>Service</a></p>
                <p><a href="about.html"><i class="fa-icon fa fa-info-circle"></i>About</a></p>
                <p><a href="therapists.html"><i class="fa-icon fa fa-user-md"></i>Therapist</a></p>
                <p><a href="blogs.html"><i class="fa-icon fa fa-blog"></i>Blog</a></p>
            </div>
            <div class="Services">
                <h2>Our Services</h2>
                <p><a href="#"><i class="fa-icon fa fa-heartbeat"></i> Wellness Programs</a></p>
                <p><a href="#"><i class="fa-icon fa fa-spa"></i> Mindful Meditation</a></p>
                <p><a href="#"><i class="fa-icon fa fa-user-md"></i> Consultation</a></p>
                <p><a href="#"><i class="fa-icon fa fa-book-open"></i> Educational Resources</a></p>
                <p><a href="#"><i class="fa-icon fa fa-users"></i> Support Groups</a></p>
            </div>
            <div class="Contact">
                <h2>Contacts Info</h2>
                <p><a href="#"><i class="fa-icon fa fa-phone"></i>+250 788 666 23</a></p>
                <p><a href="#"><i class="fa-icon fa fa-envelope"></i>mindcare@gmail.com</a></p>
                <p><a href="#"><i class="fa-icon fa fa-map-marker-alt"></i>Kigali, Rwanda</a></p>
            </div>
            <div class="Follow">
                <h2>Follow Us</h2>
                <a href="#" class="fab fa-facebook"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-pinterest"></a>
            </div>
        </section>
        <p class="copy-symbol">
            &copy; Heart Heal. 2024 All rights reserved.
        </p>
    </footer>
</body>
</html>
