<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groups</title>
    <link rel="stylesheet" href="dashj.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
</head>
<body>
    <input type="checkbox" id="check">
    <header>
        <label for="check">
            <i class="fas fa-bars" id="side-btn"></i>
        </label>
        <div class="left">
            <a href="dashj.html"><h3><span>HeartHeal</span></h3></a>
        </div>
        <div class="right">
            <a class="logout-btn" href="#"><span>Log Out</span></a>
        </div>
    </header>
    <div class="sidebar">

        <a href="consult.html"><img src="cons.jpg" alt="Consultation" /><span>Consultation</span></a>
        <a href="midt.html"><img src="meditation.jpg" alt="Meditation" /><span>Meditation</span></a>
        <a href="mindfulness.html"><img src="mindfulness.jpg" alt="Mindfulness" /><span>Mindfulness</span></a>
        <a href="groups.html"><img src="groups.jpg" alt="Groups" /><span>Groups</span></a>
        <a href="settings.html"><img src="ww.jpg" alt="Groups" /><span>Settings</span></a>
    </div>

    <div class="container">
        <main>
            <h1 style="text-align:center; color: lightblue;"><br>Group Activities</h1><br>
            <div class="group-container">
                <h2>Group Meditation Sessions</h2>
                <p>Join our group meditation sessions to connect with others and practice mindfulness together.</p>
            </div>
            <div class="group-container">
                <h2>Support Groups</h2>
                <p>Participate in support groups to share experiences and gain support from peers.</p>
            </div>
            <div class="group-container">
                <h2>Workshops and Seminars</h2>
                <p>Attend workshops and seminars on various topics related to mental wellness and personal growth.</p>
            </div>
        </main>
    </div>
</body>
</html>
