<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SignUp.css') }}">
    <title>Sign in</title>
</head>
<body>
    
    <form class="form" action="/dashj.html" method="POST">
        <p class="title">Login</p>
        <p class="message">We envision a world where technology bridges the gap between therapists and those seeking mental health support.</p>
                
        <label>
            <input class="input" type="email" placeholder="" required="">
            <span>Email</span>
        </label> 
        
        

        <label>
            <input class="input" type="password" placeholder="" required="">
            <span>Password</span>
        </label>
        
        <button class="submit">Submit</button>
        <p class="signin">Don't have an account? <a href="/signup">SignUp</a> </p>
    </form>
    
</body>
</html>
