<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mindfulness</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashj.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
</head>
<body>
    <input type="checkbox" id="check">
    <header>
        <label for="check">
            <i class="fas fa-bars" id="side-btn"></i>
        </label>
        <div class="left">
            <a href="{{ url_for('dashj') }}"><h3><span>HeartHeal</span></h3></a>
        <div class="right">
            <a class="logout-btn" href="#"><span>Log Out</span></a>
        </div>
    </header>
    <div class="sidebar">
        <a href="{{ url_for('consult') }}"><img src="{{ url_for('static', filename='images/cons.jpg') }}" alt="Consultation" /><span>Consultation</span></a>
        <a href="{{ url_for('midt') }}"><img src="{{ url_for('static', filename='images/meditation.jpg') }}" alt="Meditation" /><span>Meditation</span></a>
        <a href="{{ url_for('mindfulness') }}"><img src="{{ url_for('static', filename='images/mindfulness.jpg') }}" alt="Mindfulness" /><span>Mindfulness</span></a>
        <a href="{{ url_for('groups') }}"><img src="{{ url_for('static', filename='images/groups.jpg') }}" alt="Groups" /><span>Groups</span></a>
        <a href="{{ url_for('settings') }}"><img src="{{ url_for('static', filename='images/ww.jpg') }}" alt="Settings" /><span>Settings</span></a>
    </div>

    <div class="container">
        <main>
            <h1 style='text-align:center'><br>Mindfulness Videos</h1><br>
            <div class="video-container">
                <h2>Guided Meditation for Relaxation</h2>
                <iframe src="https://www.youtube.com/embed/vj0JDwQLof4" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="video-container">
                <h2>Guided Loving Kindness Meditation</h2>
                <iframe src="https://www.youtube.com/embed/sDi40FQcaIU" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="video-container">
                <h2>Walking Meditation - A Guide to Mindful Walking</h2>
                <iframe src="https://www.youtube.com/embed/0nwqqOCtGEU" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </main>
    </div>
</body>
</html>
